<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Ressources Relationnelle</li>
    <li class="breadcrumb-item active" aria-current="page">Tutoriel</li>
  </ol>
</nav>



<section class="text-center position-relative mb-5">
  <h1>Ressources Relationnelles</h1>
  <p>Bienvenue dans cette nouvelle application qui n'attend que vous pour s'enrichir de contenus !</p>
  <p>Découvrez ci-dessous l'ensemble de vos possibilités !</p>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="5000">
        <img class="w-100" style="filter: brightness(40%)" src="../../assets/images/tutoriel/page_accueil.jpg" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Une page d'accueil complète</h5>
          <p>Trouvez les dernières ressources postées et les plus populaires triées par catégories </p>
        </div>
      </div>
      <div class="carousel-item" data-interval="5000">
        <img class="w-100" style="filter: brightness(40%)" src="../../assets/images/tutoriel/page_ressource.JPG" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Détail d'une ressource.</h5>
          <p>Retrouvez le détail d'une resource en cliquant dessus. Devenez membre pour pouvoir conserver vos ressources favories et sauver votre progression ! </p>
        </div>
      </div>
      <div class="carousel-item" data-interval="5000">
        <img class="w-100" style="filter: brightness(40%)" src="../../assets/images/tutoriel/page_profil.JPG" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Rejoignez la communauté</h5>
          <p>Devenez membre pour mesurer vos statistiques de consultation, et partager ds ressources avec vos amis dans la communauté </p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
