<nav aria-label="breadcrumb" class="main-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Profil</li>
    <li class="breadcrumb-item" *ngIf="user != undefined" [routerLink]="['/Profil']">{{ user.username }}</li>
    <li class="breadcrumb-item" *ngIf="user != undefined">Création de ressource</li>
  </ol>
</nav>

<section *ngIf="user != undefined">
  <form [formGroup]="ressourceForm" (ngSubmit)="SubmitRessource()" class="d-flex align-items-center justify-content-center flex-wrap" enctype="multipart/form-data">
    <div class="col-12 d-flex">
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="inputAddress">Titre</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Titre" formControlName="name">
      </div>
      <div class="mb-3">
        <label for="validationTextareaDesc">Description</label>
        <textarea class="form-control" id="validationTextareaDesc" placeholder="Description courte de votre ressource" required formControlName="description"></textarea>
      </div>
      <div class="mb-3">
        <label for="validationTextarea">Contenu</label>
        <textarea class="form-control" id="validationTextarea" placeholder="Description ou contenus de votre ressource" required formControlName="contentText"></textarea>
      </div>
    </div>
    <div class="col-12 col-md-6">

      <div class="mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="validatedInputGroupSelect">Langue</label>
          </div>
          <select *ngIf="allLangue != undefined" class="custom-select" id="validatedInputGroupSelect" required formControlName="language">
            <option *ngFor="let item of allLangue;" value="{{ item['name'] }}">{{ item["name"] }}</option>
          </select>
        </div>
      </div>

      <div class="mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="validatedInputGroupSelect">Catégorie de ressource</label>
          </div>
          <select *ngIf="allCategorie != undefined" class="custom-select" id="validatedInputGroupSelect" required formControlName="resourceCategory">
            <option *ngFor="let item of allCategorie;" value="{{ item['name'] }}">{{ item["name"] }}</option>
          </select>
        </div>
      </div>

      <div class="mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="validatedInputGroupSelect">Type de relation</label>
          </div>
          <select *ngIf="allType != undefined" class="custom-select" id="validatedInputGroupSelect" required formControlName="resourceType">
            <option *ngFor="let item of allType;" value="{{ item['name'] }}">{{ item["name"] }}</option>
          </select>
        </div>
      </div>
      <div class="mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="validatedInputGroupSelect">Type de relation</label>
          </div>
          <select *ngIf="allRelation != undefined" class="custom-select" id="validatedInputGroupSelect" required formControlName="relationshipType">
            <option *ngFor="let item of allRelation; "value="{{ item['name'] }}">{{ item["name"] }}</option>
          </select>
        </div>
      </div>

      <div class="mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="validatedInputGroupSelect">Type de fichier</label>
          </div>
          <select *ngIf="allFiles != undefined" class="custom-select" id="validatedInputGroupSelect" required formControlName="fileType">
            <option *ngFor="let item of allFiles; let id = index;" value="{{ item['name'] }}">{{ item["name"] }}</option>
          </select>
        </div>
      </div>
        <p>L'ajout de fichier se réalise pour la mise en validation</p>
          <div class="custom-file mb-3" *ngIf="reponseRadio == false">
            <input type="file" class="custom-file-input" id="customFileLangHTML" (change)="changeImagefile($event)" multiple>
            <label class="custom-file-label" for="customFileLangHTML" data-browse="Choisir">{{ NameImage }}</label>
          </div>
          <div class="w-100 custom-file mb-3" *ngIf="reponseRadio == false">
            <input type="file" class="w-100 custom-file-input" id="customFileLangHTML" (change)="changefile($event)" multiple >
            <label class="w-100 custom-file-label" for="customFileLangHTML" data-browse="Choisir">{{ NameFile }}</label>
          </div>
    </div>
  </div>
    <div class="d-flex align-items-center justify-content-center col-12">
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" (click)="changeRadio(true)">
        <label class="custom-control-label" for="customRadioInline1">Mise en brouillon</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input" (click)="changeRadio(false)">
        <label class="custom-control-label" for="customRadioInline2">Mise en Validation</label>
      </div>
      <div>
        <button *ngIf="reponseRadio != null" class="btn btn-primary" type="submit" [disabled]="ressourceForm.invalid">Envoyer</button>
        <button *ngIf="updateDraft" class="btn btn-primary ml-2" type="submit" (click)="ngOnInit()">Créer une nouvelle ressource</button>
      </div>
    </div>
  </form>
</section>

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb mt-5">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" *ngIf="user != undefined">{{ user.username }}</li>
        <li class="breadcrumb-item">Mes ressources bouillons</li>
      </ol>
    </nav>
    <!-- /Breadcrumb -->
    <section>
      <div class="flex-wrap d-flex flex-column flex-lg-row align-items-center justify-content-between m-3 w-100">
          <div class="card col-lg-3 col-12 p-0 my-2 mx-3" *ngFor="let singleRessource of ressourceDraft; let id = index;">
            <img *ngIf="singleRessource['imageUrl'] == null && singleRessource['fileType']['name'] == 'VIDEO'" class="card-img-top img-fluid" src="../../assets/images/default_movie.png" alt="Card image cap">
            <img *ngIf="singleRessource['imageUrl'] == null && singleRessource['fileType']['name'] == 'TEXT'" class="card-img-top img-fluid" src="../../assets/images/default_document.png" alt="Card image cap">
            <img *ngIf="singleRessource['imageUrl'] == null && singleRessource['fileType']['name'] == 'IMAGE'" class="card-img-top img-fluid" src="../../assets/images/default_image.png" alt="Card image cap">
            <img *ngIf="singleRessource['imageUrl'] == null && singleRessource['fileType']['name'] == 'AUDIO'" class="card-img-top img-fluid" src="../../assets/images/default_sound.png" alt="Card image cap">
            <img *ngIf="singleRessource['imageUrl'] == null && singleRessource['fileType']['name'] == 'URL'" class="card-img-top img-fluid" src="../../assets/images/default_document.png" alt="Card image cap">
            <img *ngIf="singleRessource['imageUrl'] != null" class="card-img-top" src="{{ singleRessource['imageUrl'] }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">{{ singleRessource['name'] }}</h5>
                <div class="d-flex align-items-center justify-content-between">
                  <button (click)="update(singleRessource)" type="button" class="btn btn-warning ml-3">
                    Modifier et mettre en validation
                  </button>
                  <button (click)="deleteRessource(singleRessource.id)" type="button" class="btn btn-danger ml-3">
                    Supprimer
                  </button>
                </div>
              </div>
            </div>
      </div>
  </section>